@model CRUDWebMVC.Models.ViewModel.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model.Id != null)
{
    <h2>Edit Customer</h2>
}
else
{
    <h2>New Customer</h2>
}
@using(Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(cst => cst.Name)
        @Html.TextBoxFor(cst => cst.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(cst => cst.Name)
    </div>
    <div>
        @Html.LabelFor(cst => cst.BirthDay)
        @Html.TextBoxFor(cst => cst.BirthDay,"{0:yyyy-MM-dd}", new {@class = "form-control", type = "date"})
    </div>
    <div>
        @Html.LabelFor(cst => cst.MembershipTypeId)
        @Html.DropDownListFor(cst => cst.MembershipTypeId, new SelectList(Model.ListMembershipTypes, "Id", "Name"), "Select Membership type", new {@class = "form-control"})
        @Html.ValidationMessageFor(cst => cst.MembershipTypeId)
    </div>
    <div class="form-check">
        @Html.CheckBoxFor(cst => cst.IsSubscribedToNewsletter)
        <label class="form-check-label">
            @Html.LabelFor(cst => cst.IsSubscribedToNewsletter)
        </label>
    </div>
    @Html.HiddenFor(cst => cst.Id)
    <button type="submit" class="btn btn-primary">
        Save
    </button>
}